@page
@model Web.DashboardModel
@{

}

<div class="row">

    <div class="col-lg-6">

        <portlet title="Toastr" is-height-fluid="true">

            <section>

                <button state="Success" text="success" onclick="showToast('success')" />
                <button state="Danger" text="error" onclick="showToast('error')" />
                <button state="Warning" text="warning" onclick="showToast('warning')" />
                <button state="Info" text="info" onclick="showToast('info')" />

                <button state="Success" text="hello" onclick="showClickToast('success')" />

            </section>

        </portlet>

    </div>

    <div class="col-lg-6">

        <portlet title="Alert">

            <section>

                <button state="Success" text="success" onclick="showAlert('success')" />
                <button state="Danger" text="error" onclick="showAlert('error')" />
                <button state="Warning" text="warning" onclick="showAlert('warning')" />
                <button state="Info" text="info" onclick="showAlert('info')" />
                <button state="Dark" text="question" onclick="showAlert('question')" />

            </section>

            <section>

                <button state="Brand" text="confirm" onclick="showConfirm()" />

            </section>

        </portlet>

    </div>

    <div class="col-lg-12">

        <portlet title="Form" data-model="form">

            <div class="row">
                <div class="col-md-6">
                    <text-box field="UserName" name="账号" is-required="true"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="NickName" name="昵称" is-required="true"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Name" name="姓名" is-required="true"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Mobile" name="手机号码" is-required="true"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Email" name="电子邮箱" is-required="true"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Phone" name="电话号码"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Citys" name="省市区域" id="city-picker"></text-box>
                </div>
                <div class="col-md-6">
                    <text-box field="Position" name="职位"></text-box>
                </div>
                <div class="col-md-6">
                    <select-box field="DepartmentId" name="部门" is-required="true" options="@Model.DepartmentOptions"></select-box>
                </div>
                <div class="col-md-6">
                    <check-box-group is-inline="true" is-multi-select="false" name="性别" field="Gender">
                        @foreach (var gender in Model.Genders)
                        {
                            <check-box text="@gender.Name" value="@gender.Value"></check-box>
                        }
                    </check-box-group>
                </div>
            </div>


            <portlet-footer-action-container align="Right" size="Sm">
                <button state="Danger" data-bind="click:$root.delete, visible:Id()">删除</button>
                <button state="Info" data-bind="click:update, visible:Id()">修改</button>
                <button state="Success" data-bind="click:add, visible:!Id()">提交</button>
            </portlet-footer-action-container>
        </portlet>

    </div>

</div>


@section scripts{
    <script type="text/javascript">

        function showToast(type) {
            zdy.toastr[type](type);
        }

        function showClickToast(type) {
            zdy.toastr[type](type, "title", function () {
                alert("hello!");
            });
        }

        function showAlert(type) {
            zdy.alert[type]("You clicked the button!").then(function () {
                alert("You clicked the alert button!")
            })
        }

        function showConfirm() {
            zdy.confirm("请您确认？").done(function (result) {
                if (result) {
                    zdy.alert.success("你点击了确认！");
                } else {
                    zdy.alert.info("你点击了取消！");
                }
            })
        }

    </script>

    <script type="text/javascript">
        var form = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'Avatar', value: ko.observable() },
                { field: 'DepartmentId', value: ko.observable() },
                { field: 'Email', value: ko.observable() },
                { field: 'Gender', value: ko.observable() },
                { field: 'Mobile', value: ko.observable() },
                { field: 'Name', value: ko.observable() },
                { field: 'NickName', value: ko.observable() },
                { field: 'Phone', value: ko.observableArray() },
                { field: 'Position', value: ko.observable() },
                { field: 'UserName', value: ko.observable() },
                { field: 'City', value: ko.observable() },
                { field: 'Province', value: ko.observable() }
            ],
            dataAddUrl: 'User/Add',
            dataUpdateUrl: 'User/Update',
            dataDeleteUrl: 'User/Delete'
        }).import(function () {

            this.afterAdd = function (data) {
                this.Id(data.Id)
            }

            this.afterDelete = function () {
                this.reset()
            }

            this.afterLoad = function (data) {

                $("#city-picker").citypicker({
                    responsive: true,
                    level: "city"
                });

                $("#city-picker").on("cp:updated", function () {
                    var city = $('#city-picker').val()
                    if (city !== undefined) {
                        var address = city.split("/");
                        var city = address[0] === undefined ? "" : address[0]
                        var province = address[1] === undefined ? "" : address[1]
                        form.City(city)
                        form.Province(province)
                    }
                })
            }

            this.Citys = ko.computed(function () {
                var array = [this.City(), this.Province()]
                return array.join("/")
            }, this)

        }).bind("form");
    </script>
}