@page
@model Web.InfoBoxModel

<div class="row">

    <div class="col-lg-6">

        <info-box title="AirPlus SAAS License" content=" Windows 10 automatically downloads and installs updates to make sure your device is secure and up to date. This means you receive the latest fixes and security updates, helping your device run efficiently and stay protected. In most cases, restarting your device completes the update. Make sure your device is plugged in when you know updates will be installed." />


        <info-box title="AirPlus SAAS License" badge="Blog" state="Success" navigation-url="http://www.zdyla.com">

            Windows 10 automatically downloads and installs updates to make sure your device is secure and up to date. This means you receive the latest fixes and security updates, helping your device run efficiently and stay protected. In most cases, restarting your device completes the update. Make sure your device is plugged in when you know updates will be installed.

        </info-box>


        <info-box title="AirPlus SAAS License" badge="Blog" state="Success" navigation-url="http://www.zdyla.com" navigation-text="Go To ZDYLA">

            Windows 10 automatically downloads and installs updates to make sure your device is secure and up to date. This means you receive the latest fixes and security updates, helping your device run efficiently and stay protected. In most cases, restarting your device completes the update. Make sure your device is plugged in when you know updates will be installed.

        </info-box>

    </div>

    <div class="col-lg-6">

        <info-box title="AirPlus SAAS License" sub-title="Basic License">

            Windows 10 automatically downloads and installs updates to make sure your device is secure and up to date. This means you receive the latest fixes and security updates, helping your device run efficiently and stay protected. In most cases, restarting your device completes the update. Make sure your device is plugged in when you know updates will be installed.

        </info-box>

        <info-box title="AirPlus SAAS License" sub-title="Basic License" icon="Accept">

            Windows 10 automatically downloads and installs updates to make sure your device is secure and up to date. This means you receive the latest fixes and security updates, helping your device run efficiently and stay protected. In most cases, restarting your device completes the update. Make sure your device is plugged in when you know updates will be installed.

        </info-box>

    </div>

</div>
